<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title><%=title%></title>
  </head>
  <body>
    <div class="homenav">
      <img src="/img/logo.svg" alt="" />
      <h1>HOME PAGE</h1>
      <br />
      <a href="contacts">CONTACTS</a>
      <a href="groups">GROUPS</a>
      <a href="profiles">PROFILES</a>
      <a href="addresses">ADDRESSES</a>
    </div>
  </body>
</html>
