* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Helvetica Neue", Arial, sans-serif;
  color: #333;
  position: relative;
    background: rgba(255,255,255,0.5) url("/img/bg.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.homenav {
  display: block;
  margin: 160px auto;
  width: 400px;
  text-align: center;
  color: #fff;
}

.homenav a {
  text-decoration: none;
  display: inline-block;
  border: 2px solid #fff;
  border-radius: .20rem;
  padding: 10px;
  font-size: 12px;
  margin-right: 10px;
  color: #fff;
}

.homenav a:last-child {
  margin-right: 0;
}

.homenav a:hover {
  background: #436d89;
  border: 2px solid #436d89;
  transition: 0.5s ease-in-out;
}

.homenav img {
  max-width: 100px;
}

table {
  text-align: left;
  line-height: 40px;
  border-collapse: separate;
  border-spacing: 0;
  border: 2px solid #436d89;
  white-space: nowrap;
  margin: 40px auto;
  border-radius: .50rem;
  -webkit-box-shadow: 2px 3px 6px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 2px 3px 6px 0px rgba(0,0,0,0.5);
  box-shadow: 2px 3px 6px 0px rgba(0,0,0,0.5);
}

thead tr:first-child {
  background: #436d89;
  color: #fff;
  border: none;
}

th:first-child,
td:first-child {
  padding: 0 15px 0 20px;
}

th, td {
  padding-right: 35px;
}

thead tr:last-child th {
  border-bottom: 3px solid #ddd;
  background-color: #f0f0f0;
}

tbody {
  background: #fff;
}

tbody tr:hover {
  background-color: #f2f2f2;
  cursor: default;
}

tbody tr:last-child td {
  border: none;
}

tbody td {
  border-bottom: 1px solid #ddd;
}

td:last-child {
  text-align: center;
  padding: 15px 10px 0 20px;
}

th:last-child {
  text-align: center;
  padding: 15px 10px 0 20px;
  color: #000;
}

.button {
  color: #aaa;
  cursor: pointer;
  vertical-align: middle;
  margin-top: -4px;
}

.edit:hover {
  color: #0a79df;
}

.delete:hover {
  color: #dc2a2a;
}

.material-icons {
    color: #989494;
    text-decoration: none;
}

.material-icons:hover {
    color: #535456;
}

th .material-icons {
    color: #fff;
    font-size: 30px;
}

th .material-icons:hover {
    color: #eee;
}

#show {
  display: block;
}

.user {
  width: 90%;
  max-width: 340px;
  margin: 50px auto;
}

.user__header {
  text-align: center;
  color: #fff;
}

.user__header img {
  max-width: 50px;
}

.user__title {
  font-size: 20px;
  margin-bottom: -10px;
  font-weight: 800;
}

.form {
  margin-top: 20px;
  border-radius: .50rem;
  background-color: #fff;
  overflow: hidden;
  -webkit-box-shadow: 2px 3px 6px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 2px 3px 6px 0px rgba(0,0,0,0.5);
  box-shadow: 2px 3px 6px 0px rgba(0,0,0,0.5);
}

.form__input {
  display: block;
  width: 100%;
  padding: 20px;
  border: 0;
  outline: 0;
  background-color: #f5f5f5;
}
.form__input:focus {
  background: #f0f0f0;
}

.btn {
  display: block;
  width: 100%;
  padding: 20px;
  outline: 0;
  border: 0;
  color: white;
  background: #436d89;
}

.btn:hover {
  background: #284a62;
}

.back {
    margin: 10px auto;
    width: 100%;
    display: block;
    text-align: center;
    color: #fff;
    text-decoration: none;
}

.back:hover {
    color: #999;
}
